/** {
  border: 1px solid red;
}*/
/* Body */
body {
  background-color: #ffffff;
  border: 2px solid black;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  max-width: 1366px;
  width: 100%
}
/* Header */
.header {
  background-color: #75e2e6;
  border-bottom: #048eaa solid 3px;
}
.header-img {
  display: inline-block;
  height: 50px;
  padding: 8px 0px 8px 20px;
  vertical-align: middle;
  width: 50px;
}
.header-nav {
  display: inline-block;
  float: right;
  font-size: 15px;
  margin-right: 20px;
  margin-top: 22px; 
}
.header-nav-link {
  color: black;
  padding: 10px;
  text-decoration: none;
}
/* Top Section */
.top-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/park.jpg'); 
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;  
  text-align: center;
}
.top-section-article {
  margin-left: auto;
  margin-right: auto;
  min-width: 275px;
  width: 33%;
}
.top-section-article-heading {
  font-weight: 400;
  margin-top: 0px;
  padding-bottom: 30px;
  padding-top: 30px;
}
.top-section-article-fieldset {
  border: 0;
  font-size: 14px;
  padding: 15px 0px 15px 0px;
  text-align: left;
}
.top-section-article-fieldset-label {
  display: block;
}
.top-section-article-fieldset-input {
  box-sizing: border-box;
  display: block;
  font-size: 15px;
  height: 35px;
  margin: 4px 0px 18px 0px;
  padding: 3px 5px 3px 5px;
  width: 100%;
}
.top-section-article-fieldset-button {
  background-color: #75e2e6;
  font-size: 15px;
  height: 35px;
  margin-bottom: 12px;
  padding: 3px;
  width: 100%;
}
/* Content Section */
.content-section{
  overflow: auto;
  text-align: center;
}
.content-section-article {
  display: inline-block;
  margin-bottom: 15px;
  max-height: 
  min-width: 250px;
  padding: 0px 20px 0px 20px;
  vertical-align: top;
  width: 29%;
}
.content-section-article-img {
  height: 200px;
  width: 200px;
}
.content-section-article-paragraph {
  display: table;
  font-size: 15px;
  height: 230px;
  text-align: left;
}
.content-section-article-button {
  background-color: #048eaa;
  color: #ffffff;
  font-size: 15px;
  height: 35px;
  padding: 3px;
  width: 100%;
}
.footer {
  background-color: #048eaa;
  color: #ffffff;
  text-align: center;
}
.footer-paragraph {
  font-size: 15px;
  margin: 0px;
  padding-top: 20px;
}
.footer-div{
	padding-bottom: 15px;
}
.footer-div-img {
  height: 50px;
  padding-bottom: 20px;
  width: 50px;
}
/* General Image Classes */
.img-round {
  border-radius: 50%;
  border: #048eaa solid 3px;
}
/* Media Queries */
@media only screen and (max-width: 600px) {
  .content-section-article { 
    display: block;
    width: 100%;
  }
}

/*.clearfix:after {
  content:' ';
  display: table;
  clear: both;
}*/




