* {
  border: 1px solid red;
}
/* Body */
body {
  background-color: #ffffff;
  border: 2px solid black;
  font-family: 'Roboto Slab', serif;
  margin: 0px;
}
/* Header */
.header {
  background-color: #9A969C;
  border-right: #ffffff solid 3px;
  height: 100%;
  margin: 0px;
  position: fixed;
  width: 15%;
}
.header-img {
  display: inline-block;
  height: 50px;
  padding: 8px 0px 8px 20px;
  vertical-align: middle;
  width: 50px;
}
.header-nav-link {
  color: black;
  display: block;
  padding: 10px;
  text-decoration: none;
}
/* Top Section */
.top-section {
  background-color: #3E3544;
  color: #ffffff;  
  left: 15%;
  position: relative;
  width: 85%;
}
.top-section-article-heading {
  font-weight: 400;
  left: 50%;
  position: absolute;
}
.top-section-article-img {
  height: 300px;
  margin: 15px 0px 15px 30px;
  width: 300px;
}

.top-section-article-fieldset {
  border: 0;
  font-size: 14px;
  left: 50%;
  padding: 15px 0px 15px 0px;
  position: absolute;
  text-align: left;
  top: 35%;
  width: 34%;
}
.top-section-article-fieldset-label {
  display: block;
  font-size: 18px;
  font-weight: 300;
}
.top-section-article-fieldset-input {
  box-sizing: border-box;
  display: block;
  height: 35px;
  margin: 4px 0px 18px 0px;
  padding: 3px 5px 3px 5px;
  width: 100%;
}
.top-section-article-fieldset-button {
  background-color: #9A969C;
  font-size: 15px;
  font-weight: 700;
  height: 35px;
  margin-bottom: 12px;
  padding: 3px;
  width: 100%;
}
/* Content Section */
.content-section{
  left:15%;
  overflow: auto;
  position: relative;
  width: 85%;
}
.content-section-article {
  display: block;
  margin-bottom: 15px;
  padding: 0px 20px 0px 20px;
  vertical-align: top;
  width: 100%;
}
.content-section-article-heading {
  left:8%;
  position: absolute;
}
.content-section-article-img {
  height: 200px;
  width: 200px;
}
.content-section-article-paragraph {
  font-size: 15px;
  text-align: left;
}
.content-section-article-button {
  background-color: #3E3544;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  height: 35px;
  padding: 3px;
  position: relative;
  width: 15%;
}
/* Footer */
.footer {
  background-color: #3E3544;
  color: #ffffff;
  left:15%;
  position: relative;
  width: 85%
}
.footer-div-img {
  height: 50px;
  padding-bottom: 20px;
  width: 50px;
}
/* General Image Classes */
.img-round {
  border-radius: 50%;
  border: #048eaa solid 3px;
}
